In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### The Dataset

* YERockfish.csv contains measurements of fish collected from along the Oregon coast

  * Yelloweye Rockfish (Sebastes rubberimus)
  
* Length (length; to the nearest cm),
* Age (years)
* Maturity (Immature and Mature) state of female

* Read in the data as a tibble

In [2]:
# Write you code here
df = read_csv("data/YERockfish.csv")

This data contains a date column. R provides an easy way to manipulate dates.
  * The field needs to be converted to a format that R will recognize as a date. 
    * The `as.POSIXct()` function does this conversion. The function takes two arguments
      * The column to convert
      * Format of the date. Since dates come in vairous shapes (ex. yyyy/m/d, mm/dd/yy, etc..)

* Use the function `as.POSIXct()` to convert the date. The approach is exactly the same as converting to factor (`as.factor()`) or integer (`as.integer()`)
  * Here you can pass the following format string for the parameter `format`
    * `%m/%d/%Y`
    
 * Bonus: use a `dplyr` pipeline to mutate the column

In [4]:
head(df)

  date      length age maturity stage
1 9/2/2003  31     10  Immature 1
2 10/7/2002 32      6  Immature 1
3 7/18/2000 32     11  Immature 1
4 6/11/2001 32     11  Immature 2
5 8/8/2000  32     13  Immature 2
6 10/4/2003 33      9  Immature 1

* USe the function head on your modified `tibble` to make sure the column is now of type `dttm` (date and time) instead of `char`

df = df %>% mutate(date=as.POSIXct(date,format="%m/%d/%Y"))
head(df)

In [ ]:
* Count the number of lines in your file

In [18]:
nrow(df)

[1] 158

* Plot the count of observations per year.
 * Note that you can easily parse the year from the data using the `year()` function, which takes a column of `dttm`  datatype
 * The function year is part of the `lubridate` package, which you may need to import 
* Hint 1: try the function `year()` on your date column
* Hint 2: Use group by to group the data and `n()` to count the number of entries in each group

* Bonus: use a `dplyr` pipeline to answer this question.

In [21]:
# Try year() on the date colum
library(lubridate)
year(df$date)

  [1] 2003 2002 2000 2001 2000 2003 2000 2002 2000 2000 2000 2002 2000 2000 2003
 [16] 2000 2003 2000 2000 2000 2002 2002 2000 2000 2002 2002 2003 2000 2000 2002
 [31] 2002 2001 2003 2001 2002 2003 2002 2003 2000 2000 2000 2002 2001 2003 2002
 [46] 2003 2003 2000 2000 2003 2002 2000 2003 2000 2001 2001 2002 2002 2002 2002
 [61] 2003 2003 2002 2002 2002 2003 2001 2002 2001 2003 2002 2003 2000 2000 2003
 [76] 2000 2000 2003 2003 2000 2003 2000 2000 2002 2003 2002 2002 2002 2002 2003
 [91] 2003 2002 2002 2004 2003 2000 2001 2008 2002 2002 2002 2002 2001 2000 2003
[106] 2003 2002 2003 2002 2002 2000 2002 2000 2002 2002 2003 2003 2002 2002 2003
[121] 2003 2002 2002 2003 2002 2002 2001 2002 2002 2002 2004 2003 2000 2003 2004
[136] 2000 2002 2002 2002 2002 2003 2003 2002 2002 2003 2002 2003 2003 2002 2001
[151] 2000 2001 2003 2002 2002 2002 2002 2001

In [23]:
# answer question here
df %>% 
  group_by(year(date)) %>%
    summarise(count=n())

`summarise()` ungrouping output (override with `.groups` argument)

  year(date) count
1 2000       37
2 2001       14
3 2002       61
4 2003       42
5 2004        3
6 2008        1

* Remove all entries that below to a year for which there are less than 5 entries
  * E.g. there is only one entry for 2008, so we can remove it. 
* Save the data to a new tibble

In [34]:
(data["count"] < 5)[,1]

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE

In [50]:
data = df %>% 
  group_by(year(date)) %>%
    summarise(count=n())
bad_years = pull(data[(data["count"] < 5),"year(date)"])

`summarise()` ungrouping output (override with `.groups` argument)

In [59]:
df %>% 
  filter(!(year(date) %in% bad_years))

    date       length age maturity stage
1   2003-09-02 31     10  Immature 1
2   2002-10-07 32      6  Immature 1
3   2000-07-18 32     11  Immature 1
4   2001-06-11 32     11  Immature 2
5   2000-08-08 32     13  Immature 2
6   2003-10-04 33      9  Immature 1
7   2000-07-17 33     10  Immature 1
8   2002-08-18 34      8  Immature 1
9   2000-07-12 34     10  Immature 1
10  2000-07-25 34     11  Immature 1
11  2000-07-17 35     11  Immature 1
12  2002-07-13 35     12  Immature 1
13  2000-07-17 36     10  Immature 1
14  2000-08-06 36     10  Mature   2
15  2003-07-16 36     10  Mature   1
16  2000-07-25 36     12  Immature 1
17  2003-08-27 37      9  Immature 1
18  2000-07-18 37      9  Mature   2
19  2000-07-25 37     11  Immature 1
20  2000-05-13 37     14  Immature 1
21  2002-06-21 37     17  Mature   1
22  2002-06-03 38      9  NA       2
23  2000-08-12 38     10  Immature 2
24  2000-07-18 38     11  Immature 2
25  2002-06-21 38     12  Immature 1
26  2002-06-16 38     18  Mature   2
27  2003-10-03 39     11  Immature 2
28  2000-08-06 39     11  Mature   2
29  2000-05-13 39     13  Immature 1
30  2002-08-30 39     14  Mature   6
⋮   ⋮          ⋮      ⋮   ⋮        ⋮
125 2001-05-21 52     13  Mature   6
126 2002-10-07 52     30  Mature   6
127 2002-06-16 52     30  Mature   6
128 2002-06-03 52     31  Mature   2
129 2003-09-07 53     18  NA       2
130 2000-05-04 53     26  Mature   5
131 2003-10-04 53     28  Mature   7
132 2000-05-04 53     29  Mature   5
133 2002-10-07 53     30  Mature   6
134 2002-08-05 54     20  Mature   6
135 2002-06-16 54     42  Mature   3
136 2002-09-01 56     44  Mature   6
137 2003-07-05 57     18  Mature   7
138 2003-05-03 57     19  Mature   3
139 2002-08-18 57     32  Mature   6
140 2002-07-28 57     70  Mature   6
141 2003-06-13 58     32  Mature   4
142 2002-08-06 58     39  Mature   6
143 2003-08-26 60     28  Mature   5
144 2003-10-06 60     28  Mature   7
145 2002-07-26 60     33  Mature   6
146 2001-05-18 61     42  Mature   4
147 2000-08-08 61     89  Mature   6
148 2001-04-23 62     61  Mature   6
149 2003-08-14 64     42  Mature   7
150 2002-08-09 65     54  Mature   6
151 2002-10-07 65     94  Mature   6
152 2002-08-18 67     50  Mature   6
153 2002-10-07 68     88  Mature   6
154 2001-04-23 70     66  Mature   4

* Count the number of entries and make sure there are less observations

In [67]:
nrow(df)

[1] 158

* Model the fish maturity using the fish length 
  * i.e. predict maturity from the lengh data

* You can make any changes to the data needed to build this model

In [ ]:
### Write you code here

In [64]:
df$maturity = as.factor(df$maturity)

glm_model_1 = glm(maturity~length,data=df,family=binomial)
summary(glm_model_1)

Call:
glm(formula = maturity ~ length, family = binomial, data = df)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-2.99494   0.01042   0.18713   0.35637   1.71514

Coefficients:
             Estimate Std. Error z value Pr(>|z|)
(Intercept) -16.94826    3.23395  -5.241 1.60e-07 ***
length        0.43718    0.07985   5.475 4.37e-08 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 149.221  on 147  degrees of freedom
Residual deviance:  74.001  on 146  degrees of freedom
  (10 observations deleted due to missingness)
AIC: 78.001

Number of Fisher Scoring iterations: 7

In [ ]:
* Generate a plot to show the data and the fit of the model (sigmoid)

In [ ]:
# Write you code here

* What is the length at which the probability of picking a mature fish is 0.5? 
  * You can eyeball it or can you compute it formally from the logistic regression

In [65]:
# Write your answer here

* Add an era column to your dataset such that
 * era has the value "pre_2000" if the year of the observation is pre 2002
 * era has the value "era2002 and after" otherwise

* Hint: Check the `if_else` in dplyr
  * https://dplyr.tidyverse.org/reference/if_else.html

* Bonus: implement this operation using a `pipeline` and `mutate`

In [ ]:
### Write your code here

* You suspected that some major environmental stressor that occurred in 2002 had an impact on the fish length and maturity
* Build a logistic regression for maturity as an outcome using `era` and `length` as predictive variables
  * Make sure your formula accounts for interactions

* Use an ANOVA to test whether maturity is a function of both length and era
* Does the maturity differ between the two eras?
  i.e. is the era model coefficient significant?

### Final note:

This practical is inspired from:
http://derekogle.com/IFAR/supplements/maturity/index.html#fitting-the-logistic-regression-model

The link above contains most answers, so please do not read until you are done with this practical.