The data in the file `RIKZ.txt` available in the `data` folder was collected to study the relationship between some abiotic aspects (e.g., sediment composition, slope of the beach) as these might affect benthic fauna. Mulder (2000) described the results of a pilot study that looked at the effects of differences in slope and grain size on fauna in the coastal zone. 


Janssen, G.M., Mulder, S., Zuur, A.F., Ieno, E.N. and Smith, G.M.

Q1. Load the data into a variable called `survey_data`
  * The `survey_data` should be a `tibble`
  * The fileds in the file are delimited. You can change read_csv's behavior to split on tabs, rather that on comma (","), which is the default behavior

In [11]:
# write your code here
library(tidyverse)
survey_data = read_tsv("data/RIKZ.txt")

Parsed with column specification:
cols(
  .default = col_double()
)

See spec(...) for full column specifications.

Q2. display the first 6 lines of the tables

In [12]:
head(survey_data)

  Sample C1 P1 P2 P3 P4 P5 P6 P7 P8 ⋯ exposure salinity temperature NAP
1 1      4  0  0  0  0  0  1  0  0  ⋯ 10       29.4     17.5         0.045
2 2      0  0  1  0  0  0  0  0  0  ⋯ 10       29.4     17.5        -1.036
3 3      0  0  3  0  0  0  0  0  0  ⋯ 10       29.4     17.5        -1.336
4 4      0  0  0  0  0  0  0  0  0  ⋯ 10       29.4     17.5         0.616
5 5      1  0  0  0  0  0  0  0  0  ⋯ 10       29.4     17.5        -0.684
6 6      0  0  0  0  0  1  0  0  0  ⋯  8       29.6     20.8         1.190
  penetrability grainsize humus chalk sorting1 Beach
1 253.9         222.5     0.05  2.05  69.830   1
2 226.9         200.0     0.30  2.50  59.000   1
3 237.1         194.5     0.10  3.45  59.220   1
4 248.6         221.0     0.15  1.60  67.750   1
5 251.9         202.0     0.05  2.45  57.760   1
6 250.1         192.5     0.10  2.50  53.075   2

Q3 The columns C1 P1-P25, N1, CR1-28, M1-17 and I1-5 of the table represent the counts for 75 species grouped within five taxa: Chaetognatha (C), Polychaeta (P), Crustacea (CR), Mollusca (M), and Insecta (I). We're only interested in the richness, and we need to compute it as:
* `1` if the group has a value `> 0`
* `0` otherwise.

* Create a new column, call it `richness`, which represents the richness in each sample. The richness of `sample 1` should be `11`, since sample has non-null values only for the following groups: 
```
'C1''P6''P15''P16''P25''CR1''CR14''CR15''CR19''CR26''I3'
```

In [36]:
idx = which (survey_data[1,2:76] != 0)
colnames(survey_data[1,2:76][,idx])

 [1] "C1"   "P6"   "P15"  "P16"  "P25"  "CR1"  "CR14" "CR15" "CR19" "CR26"
[11] "I3"

Q4 Create a copy of the variable `survey_data` that does not have columns C1 P1-P25, N1, CR1-28, M1-17 and I1-5. Call this variable `survey_data_richness`

In [ ]:
# Write your code here

Q6. Use the `lm` function to model the richness as a function of the remaining variables but not including the variable `week`, which needs a special treatment we haven't covered yet!

In [ ]:
# Write your code here

Q7. What do the various output of the `lm` mean? Interpret the results of your model.

In [ ]:
# Write your Interpretation here